@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --bg-color-dark:#1F3A93;
    --bg-color-light:#334fac;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    
}

body {
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    background-color: var(--bg-color-dark);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 768px;
    height: 100vh;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-light);
}

.container h1{
    background-color: #bcff79;
    border-radius: 20px;
    padding: 2px 15px;
    color: var(--bg-color-light);
}


.button-grid {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.btn {
    width: 100px;
    height: 100px;
    border: 7px solid white;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cross,.circle{
    transition: all 0.2s ease;
    transform: scale(0);
    position: absolute;
}

.cross{
    width: 100%;
}


.cross:before,
.cross:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 55px;
    width: 10px;
    border-radius: 100%;
    background-color: #45d4ff;
/*    background-color: white;*/
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 9px solid #ff4171;
}

.cross.active,
.circle.active {
    transform: scale(1);
}


.score {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.reset{
    padding: 10px;
    background-color: dodgerblue;
    cursor: pointer;
    border-radius: 15px;
}
